.wrapper
  .header__menu__logo
    img(src='./assets/images/header-main-menu-logo.png')
  .header__menu__list
    i.fa.fa-bar.header__list__icon
    ul.header__list__menu
      each item in headerMainMenu
        if item.name == 'Rượu vang đỏ'
          li
            a.header__list__item(href= item.link)= item.name
            .header__list__sub
              each subTitle in headerMainSubTitle
                .header__sub_title
                  p= subTitle
                  ul.header__sub_item
                    each subItem in headerMainSubItem
                      li
                        a(href='#')= subItem
              .header__sub_image
                img(src='./assets/images/header-main-menu-sub.png')
              .header__sub__tritangle
        else
          li
            a.header__list__item(href= item.link)= item.name
