@include font-face(NotoSerif, NotoSerif-Regular);

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  font-family: 'NotoSerif', 'Times New Roman', 'Roboto', 'Open Sans';
  font-size: $font-size-primary;
  color: $color-primary;
}

li{
  float: left;
  list-style-type: none;
}

a{
  text-decoration: none;

  &:hover{
    color: $color-hover !important;
  }
}

i{
  &:hover{
    color: $color-hover !important;
  }
}

input{
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

button{
  border: none;
  outline: none;
  cursor: pointer;
  @include transition;
}

hr{
  opacity: 0.3;
}

img{
  width: 100%;
  border-style: none;
  object-fit: cover;
  vertical-align: middle;
}

.wrapper{
  width: 100%;
  @include pl-pr(15px,15px);
  @include ml-mr(auto, auto);
  @include sm{
    max-width: 540px;
  }
  @include md{
    max-width: 730px;
  }
  @include lg{
    max-width: 960px;
  }
  @include xl{
    max-width: 1170px;
  }
}
