$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$font-size-primary: 12px;
$font-size-header-top-menu: 14px;
$font-size-modal-close: 40px;
$font-size-modal-content: 16px;
$font-size-modal-title: 36px;
$font-size-header-main-menu-list-icon: 18px;
$font-size-header-main-menu-sub: 14px;
$font-size-header-main-menu-list-item: 13px;
$font-size-intro-title: 20px;
$font-size-intro-content: 16px;
$font-size-button-more: 16px;
$font-size-corner-big: 32px;

$color-primary: #818181;
$color-hover: #dfa949;
$color-header-top: #d6d6d6;
$color-white: #ffffff;
$color-black: #000000;
$color-black-1: #252525;
$color-white-1: #ababab;
$color-transparent: #ffffff1a;
$color-modal-bg: rgba(20, 20, 20, 0.418);
$color-modal-close: #e6e6e6;
$color-main-menu-sub-item: #5d5656;

$z-index-header-top-menu: 999;
$z-index-header-menu-hover: 100;
