$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$font-size-primary: 12px;
$font-size-header-top-menu: 14px;
$font-size-modal-close: 40px;
$font-size-modal-content: 16px;
$font-size-modal-title: 36px;

$color-primary: #818181;
$color-hover: #dfa949;
$color-header-top: #d6d6d6;
$color-white: #ffffff;
$color-black: #000000;
$color-white-1: #ababab;
$color-transparent: #ffffff1a;
$color-modal-bg: rgba(20, 20, 20, 0.418);
$color-modal-close: #e6e6e6;


$z-index-header-top-menu: 999;
