-
  const headerTopContent = [
    {name: 'Tài khoản của tôi', link: '/'},
    {name: 'Trạng thái đơn hàng', link: '/'},
    {name: 'Danh sách ưu thích', link: '/'},
    {name: 'Giỏ hàng', link: '/'},
    {name: 'Đăng nhập', link: '/'},
    {name: 'Đăng ký', link: '/'}
  ]

-
  const headerMainMenu = [
    {name: 'Trang chủ', link: './index.html'}, 
    {name: 'Rượu vang đỏ', link: './products-grid.html'}, 
    {name: 'Rượu trắng', link: './products-grid.html'}, 
    {name: 'Champagne', link: './error.html'}, 
    {name: 'Thông tin', link: './introduce.html'}, 
    {name: 'Blog', link: './blog.html'}, 
    {name: 'Liên hệ', link: './contact.html'},  
  ]

-
  const headerMainSubTitle = [
    'Rượu ngoại', 
    'Rượu vang', 
    'Rượu ngoại'
  ]

-
  const headerMainSubItem = [
    'Rượu Chivas', 
    'Hàng độc - Rượu độc đáo', 
    'Johnnie Walker', 
    'Rượu Whisky',
    'Rượu Remy Martin', 
    'Rượu Glenmorangie'
  ]
