header{
  position: relative;

  .header__top--relative, .header__top-menu--absolute{
    z-index: $z-index-header-top-menu;

    .wrapper{
      display: flex;
      justify-content: space-between;

      .header__top__left{
        display: flex;
        align-items: center;

        ul{
          display: none;
          @include lg{
            display: block;
          }
          li{
            &:not(:last-child)::after{
              color: $color-header-top;
              content: "-";
              @include pl-pr(12px, 12px);
            }
            a{
              @include transition;
              &:hover{
                text-decoration: underline;
              }
            }
          }
        }
        &:hover ul{
          @include lg-max{
            position: absolute;
            display: block;
            top: 100%;
            left: 0;
            width: 100%;
            text-align: center;
            box-shadow: 0px 8px 8px rgba(0,0,0,0.2);

            li{
              float: none;
              @include pt-pb(5px, 5px);

              &:not(:last-child)::after{
                content: none;
              }
            }
          }
        }
        i{
          color: $color-black;
          cursor: pointer;
          @include transition;
          @include lg{
            display: none;
          }
        }
      }
      .header__top__right{
        input, button{
          background-color: transparent;
        }
        input{
          width: 230px;
          @include pl-pr(10px, 10px);
          border: none;
          border-left: 1px solid $color-black;
          color: $color-black;
          font-size: italic;
          background-color: transparent;

          &::placeholder{
            color: $color-black;
          }
        }
        i{
          color: $color-black;
          @include pt-pb(10px, 10px);
          font-size: $font-size-header-top-menu;
          @include transition;
        }
      }
    }
  }
  .header__top--relative{
    position: relative;

    .header__top__left{
      &:hover ul{
        @include lg-max{
          background-color: $color-white;
        }
      }
      ul li a{
        color: $color-black;
      }
    }
  }
  .header__top-menu--absolute{
    position: absolute;
    left: 0;
    right: 0;
    background-color: $color-transparent;

    .header__top_left{
      &:hover ul{
        @include lg-max{
          background-color: $color-transparent;
        }
      }
      ul li a{
        color: $color-header-top;
      }
    }
    i{
      color: $color-header-top;
    }
  }
  .header__top__left{
    #modal{
      display: block;

      .modal{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &__content{
          position: relative;
          background-color: $color-white;
          top: 25%;
          left: 25%;
          width: 760px;
          height: 360px;
          animation: animatetop 0.7s;

          @keyframes animatetop {
            from {
              top: -100%;
              opacity: 0;
            }
            to {
              top: 25%;
              opacity: 1;
            }
          }
          & > img{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 200px;
            margin-left: 30px;
          }

          & > i{
            position: absolute;
            left: 101%;
            bottom: 101%;
            display: block;
            color: $color-modal-close;
            font-size: $font-size-modal-close;
          }

          &__text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            @include ml-mr(30%, 10%);
            color: $color-black;
            font-size: $font-size-modal-content;
            text-align: center;
          
            & > p{
              &:first-of-type{
                font-size: $font-size-modal-title;
              }

              &:last-of-type{
                @include mt-mb(30px, 0);
              }
            }

            form{
              display: flex;
              @include mt-mb(20px, 0);
              
              input{
                @include pl-pr(10px, 5px);
              }

              button{
                @include pl-pr(10px, 10px);
                @include pt-pb(10px, 10px);
                background-color: $color-hover;
                color: $color-white;
              }
            }

            .input-checkbox{
              @include mt-mb(25px, 0);

              input{
                position: relative;
                visibility: visible;

                &::after{
                  position: absolute;
                  visibility: hidden;
                }
              }
            }
          }
        }
      }
    }
  }
}
